server:
  http_listen_port: 3200
  grpc_server_max_recv_msg_size: 4194304  # 4MB
  grpc_server_max_send_msg_size: 4194304  # 4MB

distributor:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
          max_recv_msg_size_mib: 4
        http:
          endpoint: 0.0.0.0:4318

querier:
  frontend_worker:
    grpc_client_config:
      max_send_msg_size: 4194304  # 4MB

ingester:
  max_block_duration: 5m

compactor:
  compaction:
    block_retention: 1h

storage:
  trace:
    backend: local
    local:
      path: /var/tempo/traces

